body {
  width: 98vw;
  height: 100vh;
  overflow: scroll;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

main {
  overflow-x: hidden;
  margin-top: 5em;
}

/*---------------------------------------------------------------//
// Top Navigation Menu                                           //
//---------------------------------------------------------------*/

.navBar {
    position: fixed;
    width: 98vw;
    top: 0%;
    padding: .1em;
    box-sizing: border-box;
    color: white;
    font-size: 2.25vw;
    background-image: linear-gradient(to left, blue, DodgerBlue);
    border-top: .15em solid red;
  }

#tronLogo {
    position: absolute;
    height: 7vw;
    padding: 1vw;
  }

.navBar > a {
    border: .05em solid black;
    border-radius: .3em;
    margin: .1em .1em;
    box-shadow: inset .05em .05em .2em white,
                inset -.05em -.05em .2em darkblue;
    -webkit-box-shadow: inset .05em .05em .2em white,
                inset -.05em -.05em .2em darkblue;
    background-image: linear-gradient(blue, white);
    text-shadow: .1em 0px .1em black,
                 0px .1em .1em black;
  }

.navBar a {
    float: right;
    color: white;
    text-decoration: none;
    padding: .25em;
    transition: 500ms;
  }

.navBar a:hover, .dropdown:hover {
    background-color: fireBrick;
    filter: brightness(130%);
  }

.dropdown:hover {
    border-radius: .3em .3em 0 0;
    box-shadow: inset .05em .05em .2em white, inset -.05em 0 .2em darkblue;
  }

.dropdown {
    padding: .25em;
    float: right;
    position: relative;
    display: inline-block;
    border: .05em solid black;
    border-radius: .3em;
    margin: .1em .1em;
    box-shadow: inset .05em .05em .2em white,
                inset -.05em -.05em .2em darkblue;
    cursor: pointer;
    background-image: linear-gradient(blue, white);
    text-shadow: .1em 0px .1em black,
                 0px .1em .1em black;
    transition: 500ms;
  }

.dropdown-content {
    display: none;
    position: absolute;
    width: 99%;
    top: 3.65vw;
    left: -.04em;
    background-image: linear-gradient(white, red);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: solid black;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 .2em .2em;
  }

.dropdown-content a {
    float: left;
    color: white !important;
    width: 90.25%;
  }

.dropdown:hover .dropdown-content {
    display: block;
  }

/*---------------------------------------------------------------//
// Fixed background elements                                     //
//---------------------------------------------------------------*/

.fixedBackground {
  min-height: 100vh;
  width: 98vw;
  /*height: 100vh;*/
  background-size: 100vh;
  -webkit-background-size: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -webkit-background-repeat: no-repeat;
  -webkit-background-position: center center;
  -webkit-background-attachment: fixed;
}

.blueBackground {

}

.spacer {
  padding-top: 5vw !important;
}

/*---------------------------------------------------------------//
// Intro Image                                                   //
//---------------------------------------------------------------*/

#introFixed {
  background-image: url("fabricaShop.jpg");
}

/*---------------------------------------------------------------//
// About us image                                                //
//---------------------------------------------------------------*/

.standardContent {
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 90vh;
  padding: 1%;
  background-color: blue;
  background-image: url("bugBackground.png"), linear-gradient(to left, blue, DodgerBlue);
}

#conocenosBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

#conocenosContent {
  width: 90%;
  padding: .5em;
  border-radius: .3em;
  font-size: 2em;
  background-color: white;
  box-shadow: inset .1em .1em .5em black;
}

#conocenosContent h3 {
  margin: 0;
  padding: .1em;
  color: white;
  background-image: linear-gradient(to right, red, white);
  border-radius: .3em;
}

#conocenosContent p {
  margin-top: 0;
  text-align: justify;
}

#conocenosContent ul {
  list-style: disc inside url("redCheck.png");
}

/*---------------------------------------------------------------//
// Product Image                                                 //
//---------------------------------------------------------------*/

#productosFixed {
  background-image: url("productLineup.jpg");
  background-position: center bottom;
  /*background-size: 100%;*/
}

#productBox {
  display: grid;
  grid-template-columns: 30vh 30vh;
  grid-template-rows: 42.9vh 42.9vh;
  grid-gap: 1em;
  max-width: 98vw;
  justify-content: center;
  align-content: center;
}

.productCategory {
  border-radius: .5em;
  cursor: pointer;
  box-shadow: inset .1em .1em 1em black;
}

.productCategory:nth-child(1) {
  background-image: url("moscasImage.jpg");
  background-size: cover;
}

.productCategory:nth-child(2) {
  background-image: url("rastrerosImage.jpg");
  background-size: cover;
}

.productCategory:nth-child(3) {
  background-image: url("mosquitosImage.jpg");
  background-size: cover;
}

.productCategory:nth-child(4) {
  background-image: url("roedoresImage.jpg");
  background-size: cover;
}

/*---------------------------------------------------------------//
// Contact us Image                                              //
//---------------------------------------------------------------*/

#contactanosFixed {
  background-image: url("contactUs.jpg");
}

#contactanos {
  flex-direction: column;
}

#contactanosBox {
  align-self: center;
}

#contactanosContent {
  width: 80vw;
  padding: .5em;
  font-size: 2em;
  text-align: center;
  border-radius: .3em;
  background-image: linear-gradient(red, red, white);
  box-shadow: inset .1em .1em .5em black;
}

#contactanosContent p {
  color: white;
  text-shadow: .1em .1em .1em black;
}

/*#contactanosContent p:nth-child(3)::before {
  content: url("jiloWhite.png");
  position: relative;
  top: .5em;
}

#contactanosContent p:nth-child(3)::after {
  content: url("jiloWhite.png");
  position: relative;
  top: .5em;
  margin-left: .2em;
}*/

#contactanosContent p:nth-child(4) {
  font-weight: bold;
}

#contactanosContent p:nth-child(4) a {
  font-weight: bold;
}

#contactanosContent a {
  color: white;
  text-decoration: none;
}

/*---------------------------------------------------------------//
// Productos                                                     //
//---------------------------------------------------------------*/

.productDiv:first-of-type {
  margin-top: 10em;
}

.productDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 80%;
  margin: 1% auto;
  /*border: 1px solid black;
  border-radius: 5px;*/
  padding: .5%;
}

.productImage {
  display: inline-block;
  margin: auto 1%;
  width: 7em;
}

.productImage img {
  width: 100%;
}

.productDescription {
  display: inline-block;
  width: 100%;
  margin-left: .5%;
  padding: .25%;
  font-size: 1.5em;
}

.productDescription h3 {
  margin: 0;
  padding: 5px;
  color: white;
  background-image: linear-gradient(to right, blue, dodgerblue, rgba(0, 0, 0, 0));
  border-radius: 5px;
}

.productDescription ul {
  list-style: disc outside url("blueCheck.png");
}

.productPage {
  background-image: url("bugBackgroundBlack.png");
  background-attachment: fixed;
}

/*---------------------------------------------------------------//
// Contactanos Page                                              //
//---------------------------------------------------------------*/

#contactBox {
  margin-top: 5em;
  width: 98vw;
}

.invalid {
  box-shadow: inset .1em .1em .3em red,
              inset -.1em -.1em .3em red
              !important;
  background-color: #fcc;
  background-image: url("redX.png");
  background-repeat: no-repeat;
  background-position: 99% center;
}

.valid {
  background-image: url("greenCheck.png");
  background-repeat: no-repeat;
  background-position: 99% center;
}

.formTips {
  float: right;
  margin-bottom: -1em;
  margin-top: -1em;
  padding: 1em;
  font-size: 1.25em;
  background-image: linear-gradient(to right, wheat, wheat, white);
  border-radius: .3em;
  box-shadow: .1em .1em .3em black;
}

#nameTips {
  filter: opacity(0%);
}

#emailTips {
  filter: opacity(0%);
}

#messageTips {
  filter: opacity(0%);
}

#contactBox input[type=text], select, textarea {
  width: 100%;
  padding: 1%;
  border-radius: .3em;
  box-sizing: border-box;
  margin-top: 1em;
  margin-bottom: 2em;
  resize: vertical;
  font-size: 1.5em;
  box-shadow: inset .1em .1em .3em black;

}

#contactBox input[type=submit] {
  color: white;
  padding: .5% 1%;
  background-image: linear-gradient(red, white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2em;
  box-shadow: .1em .1em .3em black,
              inset .05em .05em .2em white,
              inset -.05em -.05em .2em darkblue;
  text-shadow: .1em 0px .1em black,
               0px .1em .1em black;
  transition: all 500ms;
}

#contactBox input[type=submit]:hover {
  filter: brightness(130%);
}

#contactBox form {
  margin: 0 auto;
  width: 80%;
}

#contactBox label {
  font-size: 2em;
  padding: .3em;
  color: white;
  background-image: linear-gradient(to right, red, white);
  border-radius: .3em;
  box-shadow: .1em .1em .3em black;
  text-shadow: .1em 0px .1em black,
               0px .1em .1em black;
}

#subject {
  font-family: sans-serif;
}

#afterContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#gracias {
  width: 80vw;
  height: 4em;
  margin: 0 auto;
  padding: .2em;
  background-image: linear-gradient(to right, blue, blue, white);
  color: white;
  font-size: 2em;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
  border-radius: .3em;
  box-shadow: inset .1em .1em .3em black;
  text-shadow: .1em .1em .3em black;
}

/*---------------------------------------------------------------//
// Cellphone Styles                                              //
//---------------------------------------------------------------*/

@media only screen and (max-width: 768px) {
  main {
    width: 96vw;
    margin-top: 0;
  }

  .navBar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    top: 90vh;
    height: 10vh;
    width: 96vw;
    padding: 0;
    font-size: 4vw;
    text-align: center;
    border-top: none;
  }

  #tronLogo {
    display: none;
  }

  .navBar > a {
    flex-basis: 20vw;
    align-self: center;
    height: 7vh;
  }

  .dropdown {
    flex-basis: 20vw;
    align-self: center;
    height: 7vh;
  }

  .dropdown:hover {
      border-radius: .3em;
      box-shadow: inset .05em .05em white,
                  inset -.05em -.05em darkblue;
    }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 3.65vw;
    left: -.05em;
    background-image: linear-gradient(white, red);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: solid black;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 .2em .2em;
  }

  .dropdown:hover .dropdown-content {
    display: none;
  }

  .spacer {
    padding-top: 0;
  }

  .bottomSpacer {
    padding-bottom: 10vh;
  }

  #introFixed {
    background-image: none;
  }

  .iPhone {
    height: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  #introFixed .iPhone {
    background-image: url("fabricaShopSmall.jpg");
  }

  #conocenosContent {
    font-size: 1em;
  }

  #conocenosContent h3 {
    padding: .3em;
  }

  #productosFixed {
    background-image: none;
  }

  #productosFixed .iPhone {
    background-image: url("productLineupSmall.jpg");
  }

  #productBox {
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 57.2vw 57.2vw;
  }

  #contactanosFixed {
    background-image: none;
  }

  #contactanosFixed .iPhone {
    background-image: url("contactUsSmall.jpg");
  }

  #contactanosContent {
    font-size: 1.25em;
  }

  #phoneNumber::before {
    content: "";
    display: block;
  }

  #contactanosContent p:nth-child(3)::before {
    content: "";
  }

  #contactanosContent p:nth-child(3)::after {
    content: "";
  }

  .productDescription {
    display: inline-block;
    width: 100%;
    margin-left: .5%;
    padding: .25%;
    font-size: 1em;
  }

  .productDiv:first-of-type {
    margin-top: 0;
  }

  #contactBox {
    margin-bottom: 6em;
  }

  .formTips {
    margin-bottom: -1em;
    margin-top: 0;
    padding: .2em;
    font-size: 1em;
    box-shadow: .1em .1em .3em black;
  }

  #contactBox input[type=text], select, textarea {
    font-size: 1.25em;
  }

  #contactBox label {
    font-size: 1em;
    border-radius: .3em;
  }

  #contactBox option {
    font-size: .75em;
  }

  #contactBox input[type=submit] {
    width: 100%;
  }

  #gracias {
    height: 5em;
    padding: .3em;
    font-size: 1.5em;
    line-height: 1.1em;
  }
}
