html {
  scroll-behavior: smooth;
}

body {
  width: 98vw;
  font-family: sans-serif;
}

main {
  overflow-x: hidden;
  margin-top: 5em;
}



/*---------------------------------------------------------------//
// Top Navigation Menu                                           //
//---------------------------------------------------------------*/

/*@media only screen and (min-width: 769px) {
  /*
  Container for the navigation bar*/
  .navBar {
    position: fixed;
    top: 0%;
    background-image: linear-gradient(to left, blue, DodgerBlue);
    color: white;
    width: 98vw;
    font-size: 2.25vw;
  }

  #tronLogo {
    height: 3vw;
    padding: .4vw;
  }

  .navBar > a {
    border: .05em solid black;
    border-radius: .3em;
    margin: .1em .1em;
    box-shadow: inset .05em .05em white,
                inset -.05em -.05em darkblue;
    background-image: linear-gradient(blue, white);
    text-shadow: .1em 0px .1em black,
                 0px .1em .1em black;
  }

  .navBar a {
    float: right;
    color: white;
    text-decoration: none;
    padding: .25em;
    transition: 500ms;
  }

  .navBar a:hover, .dropdown:hover {
    background-color: FireBrick;
  }

  .dropdown:hover {
    border-radius: .3em .3em 0 0;
    box-shadow: inset .05em .05em white, inset -.05em 0 darkblue;
  }

  .dropdown {
    padding: .25em;
    float: right;
    position: relative;
    display: inline-block;
    border: .05em solid black;
    border-radius: .3em;
    margin: .1em .1em;
    box-shadow: inset .05em .05em white,
                inset -.05em -.05em darkblue;
    cursor: pointer;
    background-image: linear-gradient(blue, white);
    text-shadow: .1em 0px .1em black,
                 0px .1em .1em black;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: 99%;
    top: 3.65vw;
    left: -.04em;
    background-image: linear-gradient(white, red);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: solid black;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 .2em .2em;
  }

  .dropdown-content a {
    float: left;
    color: white !important;
    width: 90.25%;
  }

  .dropdown:hover .dropdown-content {
    display: block;

  }
/*}*/

/*---------------------------------------------------------------//
// Fixed background elements                                     //
//---------------------------------------------------------------*/

/*
Class for the fixed background portions of the page*/
.fixedBackground {
  min-height: 100vh;
  width: 98vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
/*
Each of these assigns the specific image to the background sections*/

.spacer {
  padding-top: 5vw !important;
  /*margin-top: -5vw;*/
}

/*---------------------------------------------------------------//
// Intro Image                                                   //
//---------------------------------------------------------------*/

#introFixed {
  background-image: url("fabricaShop.jpg");
}

/*---------------------------------------------------------------//
// Product Image                                                 //
//---------------------------------------------------------------*/

#productosFixed {
  background-image: url("productLineup.jpg");
  background-position: left left;
  background-size: 100%;
}

#productBox {
  display: grid;
  grid-template-columns: 20vw 20vw;
  grid-template-rows: 28.6vw 28.6vw;
  grid-gap: 1em;
  max-width: 98vw;
  justify-content: center;
  align-content: center;
}

.productCategory {
  border: .3em solid black;
  border-radius: .5em;
}

.productCategory img {
  width: 100%;
  height: 100%;
  border-radius: .5em;
}

/*---------------------------------------------------------------//
// Contact us Image                                              //
//---------------------------------------------------------------*/

#contactanosFixed {
  background-image: url("contactUs1.jpg");
}

#contactanosContent {
  width: 80vw;
  padding: .5em;
  font-size: 2em;
  text-align: center;
  border: .1em solid white;
  border-radius: .3em;
  background-image: linear-gradient(red, white);
}

#contactanosContent p {
  color: white;
  text-shadow: .1em 0px .1em black,
               0px .1em .1em black,
               -.1em 0px .1em black,
               0px -.1em .1em black;
}

#contactanosContent a {
  color: white;
  text-decoration: none;
}

/*---------------------------------------------------------------//
// About us image                                                //
//---------------------------------------------------------------*/

.fixedBackground:nth-child(8) {
  background-image: url("teamImage.jpg");
}


.fixedBackground:nth-child(10) {
  background-image: url("IMG_7695.jpg");
}

.standardContent {
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 90vh;
  padding: 1%;
  background-image: linear-gradient(to left, blue, DodgerBlue);
}

#conocenosBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

#conocenosContent {
  width: 90%;
  padding: .3em;
  border-radius: .3em;
  font-size: 1.5em;
  background-color: white;
}

#conocenosContent h3 {
  margin: 0;
  padding: .1em;
  color: white;
  background-image: linear-gradient(to right, red, white);
  border-radius: .3em;
}

#conocenosContent p {
  margin-top: 0;
  text-align: justify;
}


/*---------------------------------------------------------------//
// Productos                                                     //
//---------------------------------------------------------------*/

.productDiv:first-of-type {
  margin-top: 5em;
}

.productDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 80%;
  margin: 1% auto;
  /*border: 1px solid black;
  border-radius: 5px;*/
  padding: .5%;
}

.productImage {
  display: inline-block;
  margin: auto 1%;
  width: 7em;
}

.productImage img {
  width: 100%;
}

.productDescription {
  display: inline-block;
  width: 100%;
  margin-left: .5%;
  padding: .25%;
  font-size: 1.5em;
}

.productDescription h3 {
  margin: 0;
  padding: 5px;
  color: white;
  background-image: linear-gradient(to right, blue, dodgerblue, white);
  border-radius: 5px;
}

#moscaDiv {
  width: 98vw;
}

/*---------------------------------------------------------------//
// Contactanos Page                                              //
//---------------------------------------------------------------*/

#contactBox {
  margin-top: 6em;
  width: 98vw;
}

#contactBox input[type=text], select, textarea {
  width: 100%;
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 1%;
  margin-bottom: 2%;
  resize: vertical;
  font-size: 1.5em;
}

#contactBox input[type=submit] {
  background-color: blue;
  color: white;
  padding: .5% 1%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2em;
  transition: all 250ms;
}

#contactBox input[type=submit]:hover {
  background-color: dodgerblue;

}

#contactBox form {
  margin: 0 auto;
  width: 80%;
}

#contactBox label {
  font-size: 2em;
  padding: 5px;
  color: white;
  background-image: linear-gradient(to right, blue, dodgerblue);
  border-radius: 5px;

}

@media only screen and (max-width: 768px) {
  main {
    overflow-x: hidden;
  }

  .navBar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: fixed;
    top: 90vh;
    height: 10vh;
    background-image: linear-gradient(to left, blue, DodgerBlue);
    color: white;
    width: 98vw;
    font-size: 4vw;
    text-align: center;
  }

  #tronLogo {
    display: none;
  }

  .navBar > a {
    border: 1px solid black;
    border-radius: 5px;
    margin: .1em .1em;
    box-shadow: inset .05em .05em white,
                inset -.05em -.05em darkblue;
    background-image: linear-gradient(blue, white);
    text-align: center;
    text-shadow: 2px 0px black,
                 0px 2px black;
    flex-basis: 20vw;
    align-self: center;
    height: 7vh;
  }

  .navBar a {
    float: right;
    color: white;
    text-decoration: none;
    padding: .25em;
    transition: 500ms;
  }

  .dropdown {
    padding: .25em;
    float: right;
    position: relative;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin: .1em .1em;
    box-shadow: inset .05em .05em white,
                inset -.05em -.05em darkblue;
    cursor: pointer;
    background-image: linear-gradient(blue, white);
    text-align: center;
    text-shadow: 2px 0px black,
                 0px 2px black;
    flex-basis: 20vw;
    align-self: center;
    height: 7vh;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 3.65vw;
    left: -.05em;
    background-image: linear-gradient(white, red);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: solid black;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 .2em .2em;
  }

  .dropdown:hover .dropdown-content {
    display: none;
  }

  .bottomSpacer {
    padding-bottom: 10vh;
  }

  #introFixed {
    background-image: url("fabricaShopSmall.jpg");
  }

  #productosFixed {
    background-image: url("productLineupSmall.jpg");
  }

  #productBox {
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 57.2vw 57.2vw;
    grid-gap: 1em;
    max-width: 98vw;
    justify-content: center;
    align-content: center;
  }

  .productCategory {
    border: .3em solid black;
    border-radius: .5em;
  }

  .productCategory img {
    width: 100%;
    height: 100%;
    border-radius: .5em;
  }

  #contactanosFixed {
    background-image: url("contactUs1small.jpg");
  }

  #contactanosContent {
    width: 80vw;
    padding: .5em;
    font-size: 1.25em;
    text-align: center;
    border: .1em solid white;
    border-radius: 5px;
    background-image: linear-gradient(red, white);
  }

  #conocenosContent {
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
    background-color: white;
  }

  #conocenosContent h3 {
    margin: 0;
    padding: 5px;
    color: white;
    background-image: linear-gradient(to right, red, white);
    border-radius: 5px;
  }

  .productDescription {
    display: inline-block;
    width: 100%;
    margin-left: .5%;
    padding: .25%;
    font-size: 1em;
  }


}


/*#productos {
  height: 70%;
}

#productBrowser {
  position: relative;
  height: 100%;
  width: 200%;
  left: -50%;
  padding: 1em;
  background-image: linear-gradient(to left, blue, #ccccff);
}


#productButtons {
  position: relative;
  margin: auto;
  width: 90%;
  top: 45%;
  z-index: 2;
}

#productButtons button {
  font-family: monospace;
  font-size: 4em;
  font-weight: bold;
  color: white;
  background-color: DodgerBlue;
  border: 2px solid red;
  border-radius: 5px;
  transition: all 250ms;

}

#productButtons button:hover {
  background-color: SkyBlue;
}

#leftButton {
  float: left;
}

#rightButton {
  float: right;
}

.productTitle {
  text-align: center;
  font-size: 1.75em;
  font-weight: bold;
  font-family: sans-serif;;
}

#menuDivs {
  position: relative;
  display: inline-block;
  text-align: center;
  top: -5%;
  height: 90%;
  width: 100%;
}

#menuDivLeft, #menuDivMiddle, #menuDivRight {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 30%;
  height: 100%;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  transition: all 500ms;
}

#menuDivLeft {
  left: -100%;
}

#menuDivMiddle {

}

#menuDivRight {
  right: 100%;
}

.menuImg {
  height: 90%;
  z-index: 1;
}

#vendorMap {
  width: 98vw;
}*/
